<% title 'Give us your opinion on ' + @opinionable.pagetitle %>
<h1>Editing opinion</h1>

<%= render 'form' %>

<%= link_to 'Show', polymorphic_path([@opinionable, @opinion]) %> |
<%= link_to 'Back', polymorphic_path([@opinionable]) %>

