<form class="pull-right">

  <div class="input-group">
    <span class="input-group-btn">
    <a id="gridbtn" href="#" class="btn btn-default btn-mini" role="button">Grid</a>
    <a id="listbtn" href="#" class="btn btn-default btn-mini" role="button">List</a>
    </span>
  </div><!-- /input-group -->

  <div class="input-group">

  <%= text_field_tag(:srchquery, params[:srchquery], :class => "search-query") %>
    <span class="input-group-btn">
    <%= submit_tag("Search", :class => "btn btn-mini btn-warning", :title => "Looking for something in particular? Let's go then!") %>
  <%= link_to("Clear",clearpath , :class => "btn btn-mini")%>
            </span>
  </div><!-- /input-group -->
</form>

