<table id="usedmethods-table" class="table table-hover table-striped">
  <thead>
    <th>Delivery Method</th>

  <th></th>
  </thead>
  <tbody>
    <%= f.fields_for(:usedmethods) do |usedmethods_form| %>
      <tr class="fields">
        <td>
          <%= collection_select(:deliverymethod, :id, @deliverymethods, :id, :dmcod, options ={:prompt => "Select a Method"}, :class =>"deliverymethod") %>
        </td>

        <% if current_page?(new_portfolio_path) || current_page?(edit_portfolio_path) %>
            <td>
              <%= link_to_remove_fields('<b class="icon-remove">x</b>'.html_safe, usedmethods_form, :title => "Delete this Method.") %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>