<table id="usedmethods-table" class="table table-hover table-striped">
  <thead>
    <th>Delivery Method</th>

  <th></th>
  </thead>
  <tbody>
    <%= f.fields_for(:usedmethods) do |usedmethods_form| %>
      <tr class="fields">
        <td><%= usedmethods_form.text_field(:dmcod, :size => 35) %></td>

        <% if current_page?(new_subject_path) || current_page?(edit_subject_path) %>
            <td>
              <%= link_to_remove_fields('<b class="icon-remove">x</b>'.html_safe, usedmethods_form, :title => "Delete this Method.") %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>