<table id="subject_modules-display-table" class="table table-hover table-striped">
  <thead>
      <th>Name</th>
      <th>Description</th>

  </thead>
  <tbody>

      <% @portfolio.usedmethods.each do |usedmethods| %>
          <tr class="fields">
            <td><%= usedmethods.deliverymethod.dmcod %></td>
            <td><%= usedmethods.deliverymethod.dmdesc %></td>

          </tr>
      <% end %>
  </tbody>
</table>