<tr class="fields">
  <td>
        <%= collection_select(:deliverymethod, :id, @deliverymethods, :id, :dmcod, options ={:prompt => "Select a Method"}, :class =>"deliverymethod") %>

    <%= f.hidden_field(:_destroy, :class => "field") %>

</td>

  <% if current_page?(new_portfolio_path) || current_page?(edit_portfolio_path) %>
      <td>

        <%= link_to_remove_fields('<b class="icon-remove">x</b>'.html_safe, f, :title => "Delete this Method.") %>
      </td>
  <% end %>



</tr>