
<%- model_class = Portfolio -%>
<div class="row">
  <div class="col-md-8">
    <%= link_to 'Create New Portfolio', new_portfolio_path, class: "btn btn-success btn-mini" %>
  </div>
  <div class="col-md-4">
    <div id="search" style="vertical-align: middle;">
      <a id="gridbtn" href="#" class="btn btn-default btn-mini" role="button">Grid</a>
      <a id="listbtn" href="#" class="btn btn-default btn-mini" role="button">List</a>

      <%= render partial: 'search/searchmodel', locals: {:clearpath => portfolios_path} %>
    </div>
  </div>
</div>

<br><br>
<div class="page-header">
    <h1>Portfolios</h1>
</div>

<div id="divgrid">
  <%= render partial: 'portfolioindexgrid' %>
</div>
<div id="divlist">
  <%= render partial: 'portfolioindextable' %>
</div>

