<h1>Editing category3</h1>

<%= render 'form' %>

<%= link_to 'Show', category1_category2_category3_path(@category1,@category2,@category3) %> |
<%= link_to 'Back', category1_category2_category3s_path %>
