<% title 'Make changes to ' + @subject_module.srchtitle %>

<h1>Editing subject_module</h1>

<%= render 'form' %>

<%= link_to 'Show', @subject_module %> |
<%= link_to 'Back', subject_modules_path %>
