<% title "We're sorry, that's not a valid page." %>

<div class="page-header">
  <h3>We're sorry</h3>
    <p>
    The content that you requested could not be found.
    </p>

  <p>You may have mistyped the address or the page may have moved.</p>




Would you like to
<a href="#{@root_path}" >go back</a> to our home page
and try again?
</div>