

<div class="subject_module">
<% 'x'#new_or_existing = @subject.subject_module.new_record? ? 'new' : 'existing' %>
<% new_or_existing = 'existing' %>
<% prefix = "subject[#{new_or_existing}_subject_module_attributes][]" %>
<% fields_for prefix, @subject_modules do |subject_module_form| -%>
<p>

subject_module: <%= subject_module_form.text_field :smname %>
<%= link_to_function "remove", "$(this).up('.subject_module').remove()" %>
</p>
<% end -%>
</div>