<table id="subject_modules-display-table" class="table table-hover table-striped">
  <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Purpose</th>
  </thead>
  <tbody>
      <% @subject.subject_modules.each do |subject_modules| %>
          <tr class="fields">
            <td><%= subject_modules.smname %></td>
            <td><%= subject_modules.smdescription %></td>
            <td><%= subject_modules.smpurpose %></td>
          </tr>
      <% end %>
  </tbody>
</table>