// Place all the styles related to the Sources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.source {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.source p {
	margin: 4px 0; 
}

.source.hover {
	background: #FAFAFA;
}

.source .admin {
	display: none;
}

.source.hover .admin {
	display:  inline;
}