// Place all the styles related to the SubjectModules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body .modal {
    /* new custom width */
    width: 470px;
    height: 450px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: 30px;
    opacity: 0.9;
background-color: #ffffff;
}

#subject_modules-table{
	
	width: 700px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#grid-container {
  width: 1000px;
  position: relative;
}

#grid-container .grid{
  /*position: relative;*/


}
