<p>Welcome, <%= @resource.first_name %>!</p>

<p>You can confirm your account email (<%= @email %>) through the link below:</p>

<p><%= link_to 'Confirm my account', "http://#{confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)}" %></p>

<p>Thanks for joining our community, if you think it could be valuable to your colleagues and friends, feel free to share.</p>

<p>Now, let's go learn something together.</p>