<!DOCTYPE html>
<html>
<head>
  <title>Wheretolearn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top"  role="navigation">
		<div class="navbar-inner">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">Where To Learn</a>
			  </div>
				
			</div>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
